In [1]:
import pandas, sys
import pandas as pd


a = pd.read_csv("./DataSet/Banglore/Yearly/2016.csv")
b = pd.read_csv("./DataSet/Banglore/Yearly/2017.csv")
c = pd.read_csv("./DataSet/Banglore/Yearly/2018.csv")
d = pd.read_csv("./DataSet/Banglore/Yearly/2019.csv")
e = pd.read_csv("./DataSet/Banglore/Yearly/2020.csv")

ab = a.append(b, 'Date')

cd = c.append(d, 'Date')

abcd = ab.append(cd,'Date')

abcde = abcd.append(e, 'Date')
e = abcde.to_csv('./DataSet/Banglore.csv', index=False)
abcde.tail()

,Date,Country,City,Specie,count,min,max,median,variance
8953,5/20/2020,IN,Bengaluru,temperature,133,19.2,31.0,24.7,92.99
8954,5/20/2020,IN,Bengaluru,wind-speed,137,0.5,6.9,1.8,21.53
8955,5/20/2020,IN,Bengaluru,pm10,91,16.0,105.0,43.0,2807.03
8956,5/20/2020,IN,Bengaluru,pm25,104,16.0,119.0,51.0,4652.42
8957,5/20/2020,IN,Bengaluru,no2,130,0.2,12.7,5.3,130.35